<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="js" lang="en"><!--<![endif]--><!-- Content Copyright National Park Service --><!-- JavaScript & DHTML Code Copyright &copy; 1998-2013, PaperThin, Inc. All Rights Reserved. -->
 <title>Jiuzhai Valley national park</title>
<meta name="Description" id="Description" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Keywords" id="Keywords" content="Crater Lake National Park, National Park Service, Park Information">
<meta name="Generator" id="Generator" content="">


<link rel="stylesheet" href="/assets/css/global-header-bundle-min-1313690595.css">
<link rel="stylesheet" href="/assets/css/global-header-responsive-bundle-min-733236120.css">
<link rel="stylesheet" href="/assets/css/core-responsive.css">
<link rel="stylesheet" href="/assets/css/userlogin-min-2366612448.css">
<link rel="stylesheet" href="/assets/css/hotelSearch-min.css">
<link rel="stylesheet" href="/assets/css/packageSearch/advanced_search_result.css">
<link rel="stylesheet" href="/assets/css/packageSearch/2.css">

<meta charset='utf-8' />
<link href='/assets/css/fullcalendar.css' rel='stylesheet' />
<link href='/assets/css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='/assets/js/moment.min.js'></script>
<script src='/assets/js/jquery.min.js'></script>
<script src='/assets/js/jquery-ui.custom.min.js'></script>
<script src='/assets/js/fullcalendar.min.js'></script>
<link rel="stylesheet" href="/assets/css/jec-styled.css">
<link rel="stylesheet" href="/assets/css/packageSearch/homepage-2012-1123-min.css">
<link type="text/css" rel="stylesheet" href="/assets/css/simplePagination.css"/>



<link rel="stylesheet" href="staticBooking_files/style.css" type="text/css">
<link rel="stylesheet" href="staticBooking_files/print.css" type="text/css">
<style type="text/css">
    .mw { color:#000000;font-family:Verdana,Arial,Helvetica;font-weight:bold;font-size:xx-small;text-decoration:none; }
    a.mw:link	{color:#000000;font-family:Verdana,Arial,Helvetica;font-weight:bold;font-size:xx-small;text-decoration:none;}
    a.mw:visited	{color:#000000;font-family:Verdana,Arial,Helvetica;font-weight:bold;font-size:xx-small;text-decoration:none;}
    a.mw:hover	{color:#0000FF;font-family:Verdana,Arial,Helvetica;font-weight:bold;font-size:xx-small;text-decoration:none;}
</style> <script src="staticBooking_files/ga.js" async="" type="text/javascript"></script><script src="staticBooking_files/ga.js" async="" type="text/javascript"></script><script type="text/javascript">
    <!--
    var gMenuControlID = 0;
    var menus_included = 0;
    var jsDlgLoader = '/crla/loader.cfm';
    var jsSiteID = 1;
    var jsSubSiteID = 582;
    var js_gvPageID = 481970;
    var jsPageID = 481970;
    var jsPageSetID = 0;
    var jsPageType = 0;
    var jsControlsWithRenderHandlers = ",4,4,4,23,555,689,806,814,9894,9928,9937,10218,10326,10909,11823,11872,11879,11884,11887,13230,90235,91630,97304,98795,98958,103943,107052,115886,118996,167300,250445,261728,264309,264398,265025,275131,307145,307153,307160,307171,307171,307171,307178,307214,307221,307230,307257,307263,307277,307277,307383,307383,307383,307392,307401,307424,307424,307424,307668,307668,307995,307995,347179,348257,348257,348257,348286,348295,348295,348295,348303,348303,348303,348327,348345,348345,348345,348356,348356,348356,348362,348362,348362,359352,390199,390224,480090,481736,481764,481801,481810,515530,515588,515588,515618,535600,535640,535661,535666,535706,535743,535769,535812,535863,535879,535900,535915,535964,535988,535998,536003,536009,536016,536022,536028,536034,589399,589419,636732,681722,689546,";
    var jsDefaultRenderHandlerProps = ",555_1,689_1,806_1,814_1,9928_1,9937_1,10218_1,10326_1,10909_1,10909_1,11823_1,11872_1,11872_1,11879_1,11884_1,11887_1,13230_1,90235_1,91630_1,98795_1,98958_1,103943_1,107052_1,118996_1,167300_1,250445_1,250445_1,261728_1,264309_1,264398_1,265025_1,275131_1,307145_1,307145_1,307171_1,307171_1,307383_1,307383_1,307392_1,307401_1,307401_1,307424_1,307424_1,636732_1,636732_1,681722_1,681722_1,689546_1,689546_1,";
    var jsAuthorizedControls = ",1,2,3,4,6,7,8,9,10,11,16,18,20,21,22,23,25,26,27,28,29,30,31,34,36,37,38,39,40,41,42,43,44,45,46,47,50,51,52,53,54,555,689,806,814,973,5966,8942,8967,8975,9887,9894,9928,9937,10034,10082,10176,10218,10326,10448,10482,10491,10497,10909,11823,11872,11879,11884,11887,12818,12836,12846,13020,13025,13161,13230,14018,14032,15255,15319,19294,19324,19589,19841,21143,21834,21843,22754,26465,26472,28722,28728,28731,31294,31296,31298,31302,31304,31310,32604,34370,35605,43239,44158,57349,57351,58208,58210,65964,66343,66345,66347,66349,66351,66353,66355,66360,66363,66367,66369,66371,66373,66823,66838,66851,68075,68077,68090,70540,77256,77258,79892,80134,80557,84447,87007,88814,90235,90252,90255,90907,90913,90929,91630,92345,97304,97700,98112,98119,98795,98958,99320,99327,100278,100280,100285,100287,100289,100291,100293,100295,103943,107052,108191,108193,115886,118996,120171,123569,123573,137336,139949,155910,159142,166234,167300,192747,213345,214019,216101,216266,216271,233076,250443,250445,261728,263957,264309,264398,264710,265025,275131,279398,281911,296052,297001,298491,304576,305505,307145,307153,307160,307171,307178,307202,307214,307221,307230,307252,307257,307263,307277,307383,307392,307401,307424,307668,307975,307995,347179,348241,348244,348248,348252,348257,348275,348286,348295,348303,348327,348345,348356,348362,348377,359352,370990,390199,390224,412829,480090,480098,480116,480137,480150,481723,481736,481750,481764,481773,481784,481792,481801,481810,515530,515559,515567,515588,515606,515618,528363,528387,528811,535600,535640,535661,535666,535689,535706,535729,535743,535769,535812,535834,535863,535879,535900,535915,535927,535942,535950,535964,535973,535988,535998,536003,536009,536016,536022,536028,536034,546190,589383,589399,589419,599773,620935,634572,634604,634615,636732,646006,646019,646028,646037,646050,646058,646068,651329,661539,661740,665053,665324,665334,665336,665348,665350,665437,665892,668025,681722,688361,688370,689512,689532,689546,693238,";
    var jsCustomRenderHandlerPairs = "";
    var jsStandardRenderHandlers = "";
    var jsSiteSecurityCreateControls = 0;
    var jsShowRejectForApprover = 1;

</script><script type="text/javascript" src="staticBooking_files/browser-all.js"></script>

<link rel="stylesheet" type="text/css" href="staticBooking_files/overrides.css">
<link rel="stylesheet" type="text/css" href="staticBooking_files/colorbox.css">

<link rel="shortcut icon" href="http://www.nps.gov/common/commonspot/templates/images/icons/favicon.ico">

<script type="text/javascript">
    if(typeof scriptsLoaded === 'undefined'){
        var scriptsLoaded= new Array();
    }
    //Load jQuery only once.
    if(!("jQuery" in scriptsLoaded)){
        document.write('<script type="text\/javascript" src="\/ADF\/thirdParty\/jquery\/jquery-1.9.js"><\/script><script type="text\/javascript">jQuery.noConflict();<\/script>'+'<script type="text/javascript"><\/script>');
        scriptsLoaded["jQuery"] = true;

    }
</script><script type="text/javascript" src="staticBooking_files/jquery-1.js"></script><script type="text/javascript">jQuery.noConflict();</script><script type="text/javascript"></script>

<script src="staticBooking_files/jquery-migrate-1.js"></script><script type="text/javascript"></script>

<script type="text/javascript" src="staticBooking_files/jquery_003.js"></script>
<script type="text/javascript" src="staticBooking_files/jquery.js"></script>
<script type="text/javascript" src="staticBooking_files/global.js"></script><script src="staticBooking_files/federated-analytics.js"></script><script src="staticBooking_files/nps-analytics.js"></script>

<script type="text/javascript" src="staticBooking_files/jquery_004.js"></script>
<script type="text/javascript" src="staticBooking_files/jquery_002.js"></script>
<link rel="stylesheet" type="text/css" href="staticBooking_files/validation-engine.css">

<script type="text/javascript" src="staticBooking_files/intercept-include.js"></script>
<link rel="stylesheet" href="staticBooking_files/commonspot.css" type="text/css" id="cs_maincss"> <link rel="image_src" href="http://beammeupbiscotti.files.wordpress.com/2011/12/jiuzhaigou-25zc.jpg"><link rel="stylesheet" href="staticBooking_files/print.css" type="text/css"><script src="staticBooking_files/stats.js" type="text/javascript"></script><script src="staticBooking_files/foresee-surveydef.js" type="text/javascript"></script>







<script src="staticBooking_files/always-include-ns.js" type="text/javascript"></script>
<div id="cs_control_481970" class="cs_control CS_Element_DHTML_Menu"></div>

    <span id="skip" tabindex="0">
	    <ul>
            <li><a href="#content" style="width:1px; height:1px; overflow:hidden;">skip to content</a></li>
            <li><a href="#site-map" style="width:1px; height:1px; overflow:hidden;">skip to sitemap </a></li>
        </ul>
    </span>


<div id="header-container">
    <div id="header" class="chrome-center">
        <div id="logo">
            <a href="http://www.nps.gov/">National Park Service U.S. Department of the Interior<span></span></a>
        </div>
        <div class="search">
            <form method="get" action="/search/index.htm" id="global-search" autocomplete="off">
                <label class="visuallyhidden" for="header-query">Search</label>
                <input name="query" id="header-query" type="text">

                <input name="siteLimit" value="nps.gov/crla" type="hidden">

                <input name="as_sfid" value="AAAAAAVOmzJAx4/1/UhDGy6cfOy37mP6n1sf2QanXgCzqjEhjyvsTCo4kkw4sDo2gx/bhXBLabGfRoXbUZfR3gI7UAEfmRuAGqEpNvuV7cNlZpe52Q==" type="hidden"><input name="as_fid" value="VzW/DJIAcnEw68WzKPrX" type="hidden"></form>
            <div id="search-results-container">
                <div class="top"></div>
                <div id="search-results">
                    <div id="suggestions"></div>
                    <div id="searches">
                        <p>Search:</p>
                        <ul>
                            <li id="result1"><a href="#">'' this park</a></li>
                            <li id="result2"><a href="#">'' NPS.gov</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bottom"></div>
            </div>
        </div>


    </div>
</div>


<div id="main-container" class="wallpaper-parks">
<div id="main" class="chrome-center">
<div id="Head" class=""><div class="CS_Element_Schedule" title="" id="CS_Element_BannerContainer">
        <div id="cs_control_481828" class="cs_control CS_Element_CustomCF"><div id="CS_CCF_481970_481828">



                <script type="text/javascript">
                    if(typeof scriptsLoaded === 'undefined'){
                        var scriptsLoaded= new Array();
                    }
                    //Load ADFLightbox only once.
                    if(!("ADFLightbox" in scriptsLoaded)){
                        document.write('<script type=\'text\/javascript\' src=\'\/ADF\/extensions\/lightbox\/1.0\/js\/framework.js\'><\/script>         <link href="\/ADF\/extensions\/lightbox\/1.0\/css\/lightbox_overrides_6_1.css" rel="stylesheet" type="text\/css"><link rel="stylesheet" type="text\/css" href="\/commonspot\/javascript\/lightbox\/lightbox.css"><\/link><link rel="stylesheet" type="text\/css" href="\/commonspot\/dashboard\/css\/buttons.css"><\/link><script type="text\/javascript">jQuery(document).ready(function(){\/*Set the Jquery to initialize the ADF Lightbox*\/initADFLB();\/*get local references to objects we need in parent framecommonspot object has state, so we need that instance; others are static, but why load them againvar commonspot = parent.commonspot;*\/if ( (typeof commonspot != \'undefined\') && (typeof commonspot.lightbox != \'undefined\') ) {commonspot.lightbox.initCurrent(500, 500, { title: \'\', subtitle: \'\', close: \'true\', reload: \'true\' });}});<\/script>'+'<script type="text/javascript"><\/script>');
                        scriptsLoaded["ADFLightbox"] = true;

                    }
                </script><script type="text/javascript" src="staticBooking_files/framework.js"></script>         <link href="staticBooking_files/lightbox_overrides_6_1.css" rel="stylesheet" type="text/css"><link rel="stylesheet" type="text/css" href="staticBooking_files/lightbox.css"><link rel="stylesheet" type="text/css" href="staticBooking_files/buttons.css"><script type="text/javascript">jQuery(document).ready(function(){/*Set the Jquery to initialize the ADF Lightbox*/initADFLB();/*get local references to objects we need in parent framecommonspot object has state, so we need that instance; others are static, but why load them againvar commonspot = parent.commonspot;*/if ( (typeof commonspot != 'undefined') && (typeof commonspot.lightbox != 'undefined') ) {commonspot.lightbox.initCurrent(500, 500, { title: '', subtitle: '', close: 'true', reload: 'true' });}});</script><script type="text/javascript"></script>

                <div class="bap" id="bap">
                    <div class="large">
                        <ul>
                            <li>

                                <img src="http://hdfons.com/wp-content/uploads/2013/12/jiuzhaigou-china_wallpaper.jpg" alt="Jiuzhai Valley in Summer." title="Jiuzhai Valley in Summer.">

                                <div class="title">
                                    <div class="main">

                                        <h1>JuizhaiGou</h1>

                                    </div>



                                    <div class="sub">
                                        <h3>Juizhai Valley
								<span class="location">
									Sichuan Province
								</span>
                                        </h3>
                                    </div>

                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div></div>
    </div></div>
<div id="main-content" class="clearfix">

<div id="sub-nav">
    <div id="cs_control_481717" class="cs_control CS_Element_Custom">

        <div id="npsNav">

            <h2>Explore scenery spots</h2>

            <ul>

                <li class="active">

                    <a href="http://www.nps.gov/crla/index.htm" class="active">
                        nearby hotels.
                    </a>

                </li>

                <li>

                    <a href="http://www.nps.gov/crla/photosmultimedia/index.htm">
                        Photos &amp; Multimedia
                    </a>

                </li>

                <li>

                    <a href="http://www.nps.gov/crla/parknews/index.htm">
                        News
                    </a>

                </li>

                <li>

                    <a href="http://www.nps.gov/crla/parkmgmt/index.htm">
                        Management
                    </a>

                </li>
            </ul>

        </div>
    </div>
</div>



<div id="content-container">
    <div id="content-top" class="content-top-normal"></div>
    <div id="cs_control_481718" class=""><div class="CS_Element_Schedule" title="" id="CS_Element_AlertContainer">
            <div id="cs_control_481830" class="cs_control CS_Element_CustomCF"><div id="CS_CCF_481970_481830">

                </div></div>
        </div></div>
    <div id="content" class="content">
        <div class="landing-intro intro clearfix">
            <div class="two-third-col">
                <a name="ParkWelcomeTextTemplate" id="ParkWelcomeTextTemplate"></a><a name="CP_JUMP_481832" id="CP_JUMP_481832"></a><div id="cs_control_481832" class="cs_control CS_Element_Custom">
                    <h1 class="page-title">Like No Place Else On Earth Like No Place Else On Earth</h1>
                    <p>Jiuzhaigou Valley is part of the Min Mountains on the edge of the Tibetan Plateau and stretches over 72,000 hectares (180,000 acres). It is known for its many multi-level waterfalls, colorful lakes, and snow-capped peaks. Its elevation ranges from 2,000 to 4,500 metres (6,600 to 14,800 ft).

                        Jiuzhaigou Valley was inscribed by UNESCO as a World Heritage Site in 1992 and a World Biosphere Reserve in 1997. It belongs to the category V (Protected Landscape) in the IUCN system of protected area categorization.</p>
                </div>
                <div id='myCalendarContainer' style=width:800px;float:left;></div>




                <div id='childrenResult'>

                    <section id="resultsContainer" class="segmented-list AB5180 SS6240 SS5839">

                    </section>
                </div>




            </div>
        </div>



        <div id="social update" class=""><div class="CS_Element_Schedule" title="" id="CS_Element_FeatureContainer">
                <div id="cs_control_481835" class="cs_control CS_Element_CustomCF"><div id="CS_CCF_481970_481835">
                        <div class="carousel-list carousel-list-3 headered-box" style="height:405px; border-bottom:1px solid #DFDDCD;">
                            <h2>Features</h2>
                            <ul class="clearfix large" style="position: relative; width: 636px; height: 324px; background-color: rgb(255, 255, 255); margin-left: 26px;">

                                <div style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1;" class="clearfix row"><li>
                                        <div class="image-wrapper"> <img src="staticBooking_files/39B455A1-155D-4519-3E60DF42818CE04F.jpg" title="Snowflake" alt="Snowflake" border="0" height="150" width="150">
                                        </div>
                                        <h3>What's weather Today?</h3>
                                        <p>From October through June, many of the park's
                                            roads, trails, and facilities are closed due to snow. Click below to
                                            find out what's open right now.</p>

                                        <a href="http://localhost:3000/current-conditions.htm" title="What's Open Today?">Read More</a>

                                    </li><li>
                                        <div class="image-wrapper"> <img src="staticBooking_files/42D5A5C1-C7E1-6E5A-A37A7C284438ADD2.jpg" title="Cyclist enjoying a ride at Crater Lake." alt="Cyclist enjoying a ride at Crater Lake." border="0" height="150" width="150">
                                        </div>
                                        <h3>Vehicle-Free Days on East Rim Drive</h3>
                                        <p>Jiuzhai valley Park is pleased to host two vehicle-free days on East Rim Drive, September 20 and 27, 2014.</p>

                                        <a href="http://localhost:3000/vehicle-free-days-on-east-rim-drive.htm" title="Vehicle-Free Days on East Rim Drive">Read More</a>

                                    </li><li>
                                        <div class="image-wrapper"> <img src="staticBooking_files/FC15F4E8-155D-4519-3E3185A232398472.jpg" title="Icons for social media" alt="Icons for social media" border="0" height="150" width="150">
                                        </div>
                                        <h3>Connect with Jiuzhai valley Park</h3>
                                        <p>Find out what's happening in your park. Get updates on Twitter, share stories on Facebook, or view photos on Flickr.</p>

                                        <a href="http://localhost:3000/index.htm" title="Connect with Crater Lake">Read More</a>

                                    </li></div>
                                <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1; opacity: 0;" class="clearfix row"><li>
                                        <div class="image-wrapper"> <img src="staticBooking_files/7BA7C00F-155D-4519-3EBA135EF6631CE5.jpg" title="Skell Head Overlook on East Rim Drive" alt="Skell Head Overlook on East Rim Drive" border="0" height="150" width="150">
                                        </div>
                                        <h3>Planning a Summer Visit?</h3>
                                        <p>If you'll be visiting in July, August,
                                            September, or October, the best way to plan your stay is to download the
                                            park's visitor guide.</p>

                                        <a href="http://localhost:3000/newspaper.htm" title="Planning a Summer Visit?">Read More</a>

                                    </li></div>

                            </ul>
                            <ul style="display: block;" id="carousel-controls"><li class="prev-disabled" id="carousel-controls-prev"><a class="ir" href="#"><img src="staticBooking_files/carousel_arrow_left.png"></a></li><li id="carousel-controls-next"><a class="ir" href="#"><img src="staticBooking_files/carousel_arrow_right.png"></a></li></ul></div>
                    </div></div>
            </div></div><div id="cs_control_307291" class="cs_control CS_Element_Custom">
        </div>
    </div>
    <div id="content-bottom"></div>
</div>

</div>
<div id="main-bottom" class="chrome-center"></div>
</div>
</div>



<script src="/assets/js/PopupWindow.js"></script>
<script src="/assets/js/AnchorPosition.js"></script>
<script src="/assets/js/date.js"></script>
<script src="/assets/js/CalendarPopup.js"></script>
<script src="/assets/js/calendar-2.4.js"></script>


<script>

    var defaultHtml =
            '<div class="hotelWrapper" style="width:150%">'+
            '<article class="segment hotel avgPerNight memberFencingEligible" id="hotel2">'+
            '<a class="target edsHotel" target="1103256" href="/" data-track="HOT:SR:HotelModule">'+
            '<div class="thumbnailContainer" style="width:250px; height: 150px;" >'+
            '<div class="thumbnail" data-image="/product/packages/5/images/searchImg.jpg"   style="width:250px; height: 150px;background-image: url(/product/packages/1/images/searchImg.jpg);background-size:300px 150px;background-repeat:no-repeat;">'+
            '<div class="media-loader">'+
            '<span class="loader loader-dark loader-static" title="Loading...">'+
            '</span>'+
            '</div>'+
            '<div class="noImg"> </div></div></div>'+
            '<div class="details avgPerNight showMile">'+
            '<ul class="infoCol">'+
            '<li class="priceColContainer">'+
            '<ul class="priceCol">'+
            '<li class="couponText">'+
            '<span class="rewardsAvailable">Rewards discount available</span>'+
            '<span class="rewardsDoublePoints">Rewards double points</span>'+
            '</li>'+
            '<li class="superlative">Very good!</li>'+
            '<li class="urgencyWrapper"></li>'+
            '<li class="price"><span class="actualPrice fakeLink">${list_price}</span></li>'+
            '<li class="avgPerNight priceType">night</li>'+
            '<li class="astrix"></li>'+
            '</ul>'+
            '</li>'+
            '<li class="drrWrapper"></li>'+
            '<li class="hotelName fakeLink"><span class="hotelName"><strong>{parent_product_name}</strong></span></li>'+
            '<li class="wpHotelType taapUsergroup"> {parent_product_id}<span class="wpText">ESR</span> </li>'+
            '<li  class="phoneEsr"> <span>{description}</span></li>'+
            '<div data-content-id="view-map_1103256" class="toggle-trigger togglemap" data-track="HOT:SR:MapInListing" data-control="toggle" data-expand-text="<span class=&quot;icon icon-location iconmapblue&quot;></span> Map" data-collapse-text="<span class=&quot;icon icon-location iconmapblue&quot;></span> Map">'+
            '<span class="icon icon-location iconmapblue"></span></div></li>'+
            '<li class="guestRatingText"> <strong>4.0 out of 5</strong>'+
            '<li class="phoneEsr"> <span class="phone">1-866-272-4856</span>'+
            '<span class="esr">CD5757 Rate</span>'+
            '</li> <li class="bookingVelocity_1103256 bookingVelocity"></li>'+
            '<li class="bookingVelocity_1103256 bookingVelocity"> <button type="button" onclick=\'location.href="http://localhost:3000/checkout?parentId=2"\' >check out</button></li>'+
            '<div id="spid" class="hidden automationTag">24</div></a>'+

    '</article>'+
            '</div>';


    function displayNoResults(parent_productId){
        alert("Display no results");
        jQuery('#resultsContainer').empty();
        jQuery('#resultsContainer').append("Sorry, currently no products available for parent product ID"+ parent_productId);

    }


    function replaceHtml(searchResult){
        return defaultHtml.replace("{product_id}",searchResult.parent_product_id)
                .replace("{parent_product_name}",searchResult.parent_product_name)
                .replace("{product_name}",searchResult.product_name)
                .replace("{list_price}",searchResult.list_price)
                .replace("{description}",searchResult.description)
                .replace("{keywords}",searchResult.keywords)
                ;

    }


    function loadChildrenResults(){
        var parent_productId="<%= parentId %>";
        console.warn("parent_productId:"+ parent_productId);
        console.log("generating children product page");
        jQuery.post('/children-products',{parent_productId:parent_productId},function(data){
            if(!data || data=="error") {
                alert("error returned from DB query");
                displayNoResults(parent_productId);
                return;
            }
            console.dir("callback data:"+ data);
            initResultPage(data);

        })
    }


function initResultPage(data){

    var defaultHtml2='<div class="proListCon"  style="width:700px;height=auto ;border:2px solid red">' +
            '<div class="left">' +
            '  <div class="pic">' +
            '    <div class="gift" style="padding-top:1px;">' +
            '</div> </div>' +
            '<img src="/product/packages/{product_id}/images/searchImg.jpg"  width="100%" height= auto" title="{product_name}" /></div>'+
            '<ul class="mid" style="padding-left:30px"> </br>'+
            '<li style="padding-left:10px"><h1> &nbsp;&nbsp; <a href="/" target="_self" >{parent_product_name} &nbsp;</a></h1></li>'+
            '<li style="padding-left:30px"><h4> &nbsp;&nbsp;注意事项: </h4><p>注意事项&nbsp;</p> </li>'+
            '<li style="padding-left:30px"><h4> &nbsp;&nbsp;行程特色: </h4><p>{description}&nbsp;</p></li>'+
            '<li style="padding-left:30px"><h4> &nbsp;&nbsp;价格: </h4> <p>${list_price}&nbsp;</p> </li>'+
            '<li style="padding-left:30px"><a href="/" class="btn btnOrange btnAddCar" target="_self" >预订行程</a></li>'+
            '</ul><div class="right"></div></div>';


     console.warn("init result()");
    var resultConainer = jQuery('#resultsContainer');
    var result=[];
    var searchResults=[];
    var childResults=[];
    var package1 = {};
    package1.parent_product_id=1;
    package1.parent_product_name="九寨黄金三日游";
    package1.product_name="九寨黄金三日游双人间套餐";
    package1.description="黄金级别四川九寨三日，双人间 全程4星级食宿，无商业促销互动，请放心游玩";
    package1.list_price=500;
    searchResults.push(package1);
    var package2={};
    package2.parent_product_id=2;
    package2.parent_product_name="九寨黄金三日游";
    package1.product_name="九寨黄金三日游单人间套餐";
    package2.description="黄金级别四川九寨三日游，单人间全程5星级食宿，无商业促销互动，请放心游玩";
    package2.list_price=400;
    searchResults.push(package2);

    searchResults= data;


    for(var i=0;i<searchResults.length ;++i) {
        var html = defaultHtml.replace("{parent_product_id}", searchResults[i].parent_product_id).replace("{parent_product_name}", searchResults[i].parent_product_name)
                .replace("{list_price}", searchResults[i].list_price).replace("{description}", searchResults[i].description);

        resultConainer.append(html);
    }

}


</script>




<script>

function getAvailableDates(parent_productId){


    jQuery.post('/availableDates',{parent_productId:parent_productId},function(data){
        if(!data || data=="error") {
            alert("error returned from DB query");
            displayNoResults(parent_productId);
            return;
        }
        console.warn("callback data:"+ data);

        var myCalendar = new JEC('myCalendarContainer');
        myCalendar.showCalendar();

        var myCal = new JEC('myCalendarContainer', {
            tableClass: 'styledCalendar',
            firstMonth: 201407,
            lastMonth: 201407
        });

        for (var i = 0; i < data.length; i++) {

            console.warn("dates in calendar:"+ data[i].DateStr);
            myCal.defineEvents(
                    [
                        {
                            eventDate: data[i].DateStr,
                            eventDescription: 'Available',
                            eventLink: 'http://localhost:3000/checkout?parentId=2?date=20140708',
                            eventTitle: 'A JavaScript Event Calendar'
                        }
                    ]
            );
        }
        myCal.showCalendar(20140707);

    })


}


</script>
<script>

    loadChildrenResults();

    var passedValue = "<%= parentId %>";

    getAvailableDates(passedValue);

 </script>





<script>

    jQuery(document).ready(function() {

        jQuery('#calendar').fullCalendar({
            defaultDate: '2014-06-12',
            editable: true,
            events: [
                {
                    title: 'All Day Event',
                    start: '2014-06-01'
                },
                {
                    title: 'Long Event',
                    start: '2014-06-07',
                    end: '2014-06-10'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2014-06-09T16:00:00'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2014-06-16T16:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2014-06-12T10:30:00',
                    end: '2014-06-12T12:30:00'
                }
            ]
        });

    });

</script>
<style>

    body {
        margin: 0;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        width: 900px;
        margin: 40px auto;
    }

</style>
<div id='calendar'></div>
</body></html>