#TN-footer,#TN-faq,#TN-app{width:1000px;margin-left:auto;margin-right:auto;clear:both}#TN-footer{width:1000px;margin:10px
auto 20px auto;color:#777;line-height:1.9}#TN-footer a:link,#TN-footer a:visited,#TN-footer a:hover,#TN-faq a:link,#TN-faq a:visited,#TN-faq a:hover{color:#777;text-decoration:none}#TN-footer
p{line-height:1.9;text-align:center}.TN-clear{clear:both;height:0;line-height:0;overflow:hidden}#TN-logo{width:890px;margin:auto;height:48px;padding:10px
0}#TN-logo
li{float:left;text-indent:-9999px}#TN-logo
li.verisign{text-indent:0}#TN-logo li a,#TN-logo li
p{display:block;width:110px;height:47px;background:url(/img/20130527/common/footer-1000.png) no-repeat;overflow:hidden}#TN-logo
li.kxlogo{text-indent:0;overflow:visible;margin-right:6px}#TN-logo li.kxlogo
a{overflow:visible}#TN-logo
.netchina{background-position:0 -88px}#TN-logo
.cyber{background-position:-115px -88px}#TN-logo
.alipay{background-position:-230px -88px}#TN-logo
p.verisign{background-position:-812px -136px}#TN-logo
.isc{width:107px;background-position:-460px -88px}#TN-logo
.shlx{width:150px;background-position:-412px -138px}#TN-logo
.itrust{background-position:-574px -88px}#TN-logo
.knet{background-position:-576px -136px;width:103px}#TN-logo
.safe360{background-position:-802px -88px}#TN-logo
.tenpay{background-position:0 -135px}#TN-logo
.bill99{background-position:-125px -135px;width:90px}#TN-logo
.yinlian{background-position:-224px -135px;width:180px}#TN-logo
.zhizhao{background-position:-694px -136px;width:112px}#TN-logo
.pata{background-position:-10px -181px;width:122px}#TN-24,#TN-links{line-height:1.9}#TN-links
a{margin:0
5px}#TN-faq{width:998px;margin-top:20px;padding:5px
0;border:1px
#eaeaea solid;font-size:12px;overflow:hidden}#TN-faq
dl{width:168px;padding-left:30px;line-height:24px;float:left;border-left:1px #e4e4e4 solid}#TN-faq .faq-first{border:none}#TN-faq
dt{font-weight:bold;height:24px;line-height:20px}#TN-faq
dd{color:#666}#ft{width:1000px;background:#fff;clear:both;line-height:24px;margin:0
auto;padding:0}.TN_corp{width:1000px;margin:0
auto;margin:15px
auto 0 auto;background:url(http://img1.tuniucdn.com/u/v1/common/footer/img/line_2.jpg) left top repeat-x}.TN_corp
.corp_bor{border:1px
solid #e4e4e4;border-bottom:0 none}.TN_corp
.corp_title{float:left}.TN_corp
.corp_con{float:right;width:800px;height:58px;overflow:hidden}.TN_corp .corp_con
li{float:left;text-align:center;border-left:1px solid #e4e4e4;margin:0
-1px 0 0;height:60px;width:199px}.TN_corp .corp_con li a:link,.TN_corp .corp_con li a:visited{color:#717171;text-decoration:none}.TN_corp .corp_con li a:hover{color:#f60;text-decoration:underline}#footer_link{width:974px;margin:20px
auto 0 auto;padding:10px
12px 3px 12px;border:1px
#e7e7e7 solid;line-height:18px;font-size:12px;color:#999}#footer_link
dt{width:60px;float:left;clear:both}#footer_link
dd{width:912px;float:left;padding-bottom:8px}#footer_link
a{margin-right:5px;_margin-right:2px;+margin-right:2px}#footer_link a:link,#footer_link a:visited{color:#999;text-decoration:none}#footer_link a:hover{color:#f60;text-decoration:none}