<!DOCTYPE html>

<html id="conditionizr" lang="cn"  style="">
<head>

    <%include layout/header.ejs%>
    <%include layout/navBar.ejs%>


</head>

<body id="home-page" class="wrap cf l-singlecol">
    <div role="banner">
        <div class="site-header site-header-primary us-pos" role="navigation">


        <script>
            $(function() {
                $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
                $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );

                $("#oneway").click(function(){
                    $("#flight-returning-label").css("visibility","hidden");

                });

                $("#roundtrip").click(function(){
                    $("#flight-returning-label").css("visibility","visible");

                $("#datepickerCheckin").datepicker();

                $( "#datepickerCheckout").datepicker();

                });
            });
        </script>
        <style>
            .ui-tabs-vertical { width: 55em; }
            .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
            .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
            .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
            .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
            .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
            .forms .tab-pane .flight-type-select, .forms .tab-pane .radio-set {
                margin-bottom: 0;
                margin-left: 0;
            }
            fieldset {
                margin-bottom: 1.41176em;
            }
            fieldset {
                border: 0 none;
                margin: 0;
                padding: 0;
            }

            .forms .tab-pane .flight-type-select .check, .forms .tab-pane .radio-set .check {
                margin-right: 1.41176em;
            }
            .col {
                float: left;
                padding-left: 1.41176em;
                position: relative;
            }
            .check {
                display: inline-block;
                width: auto;
            }
            label {
                color: #3D3D3D;
                display: block;
                margin-top: 0.705882em;
                position: relative;
            }
            label {
                cursor: pointer;
            }

            .theme-inverse-pills .forms .tab-pane .label, .theme-inverse-pills .forms .tab-pane .inline-label, .theme-inverse-pills .forms .tab-pane .package-car-message {
                color: #C7C7C7;
            }
            .forms .tab-pane .label, .forms .tab-pane .inline-label {
                font-weight: bold;
            }
            legend, .label, .inline-label, .field-description {
                color: #6B6B6B;
                display: block;
                font-size: 0.764706em;
                font-weight: bold;
                line-height: 1.4;
                margin-bottom: 0.461538em;
            }
            label span {
                display: block;
            }
            .forms .tab-pane .flight-type-select, .forms .tab-pane .radio-set {
                margin-bottom: 0;
                margin-left: 0;
            }


        </style>



        <section id="WIZARD" class="hero-banner-wrap background ab4292">
            <div class="hero-banner background">
                <div class="hero-banner-gradient">
                    <div  id="new-homepage-search-wizard" class="search-wrapper">
                        <div  id="tabs" class="cols-row search theme-inverse-pills">
                            <ul >
                                <li >
                                    <a class="on" href="#fight-tab">Flights</a>
                                </li>

                                <li>
                                    <a  id="tab-hotel-tab"  href="#hotel-tab" >

                                        <span class="tab-label">Hotels</span>
                                    </a>
                                </li>

                                <li >
                                    <a  href="#package-tab" >

                                        <span class="tab-label">
                                            <span class="desktop-only">Package Deals</span>

                                        </span>
                                    </a>

                                </li>

                            </ul>

                         <div class="col forms">
                                  <div id="fight-tab">
                                      <section data-tid="wizard-flights" id="tab-flight" class="tab-pane on">
                                          <div class="" id="flight-tab">
                                              <div id="flight">
                                                  <fieldset class="flight-type-select">

                                                      <label class="col check">
                                                          <input id="roundtrip" type="radio" value="roundtrip" name="flight-type" checked="checked">
                                                          <span class="inline-label">Roundtrip</span>
                                                      </label>

                                                      <label class="col check">
                                                          <input type="radio"  id="oneway" value="oneway" name="flight-type">
                                                          <span class="inline-label">One way</span>
                                                      </label>

                                                  </fieldset>
                                                  <fieldset role="application" class="cols-nested origin-destination typeahead-container">
                                                      <label data-tid="flight-origin-label" id="flight-origin-label" class="text icon-before col ">
                                                          <span class="label">Flying from</span>
                                                          <input type="text" aria-expanded="false" spellcheck="false" autocomplete="off" aria-autocomplete="list" data-autoselect="touch" data-wizard-type="origin" data-template="/static/default/default/handlebars/typeahead/default.htm.handlebars" data-version="v1" data-mask="95" data-selectioncallback="typeaheadFlightOriginCallback" data-forceicon="flights" data-ta-key="flight_origin" data-lob="FLIGHTS" data-provide="typeahead" data-js-theme="typeahead" value="" placeholder="City or airport" data-tid="flight-origin" id="flight-origin"> <span class="icon icon-location">

                                                          </span>
                                                      </label>
                                                      <label data-tid="flight-destination-label" id="flight-destination-label" class="text icon-before col ">
                                                          <span class="label">Flying to</span>
                                                          <input type="text" aria-expanded="false" spellcheck="false" autocomplete="off" aria-autocomplete="list" data-autoselect="touch" data-wizard-type="destination" data-template="/static/default/default/handlebars/typeahead/default.htm.handlebars" data-version="v1" data-mask="95" data-selectioncallback="typeaheadFlightDestinationCallback" data-forceicon="flights" data-ta-key="flight_dest" data-lob="FLIGHTS" data-provide="typeahead" data-js-theme="typeahead" value="" placeholder="City or airport" data-tid="flight-destination" id="flight-destination">
                                                          <span class="icon icon-location"></span>
                                                      </label>
                                                  </fieldset>
                                                  <fieldset class="cols-nested flight-date-fieldset total-children-0">
                                                      <label data-tid="flight-departing-label" id="flight-departing-label" class="text calendar icon-before col ">
                                                          <span class="label">Departing</span>
                                                          <input type="text" data-wizard-type="departing" value="" data-control="calendar" data-end-date="#flight-returning" data-min-booking-length="0" data-last-valid-date="05/04/2015" data-max-booking-length="330" placeholder="mm/dd/yyyy" data-tid="flight-departing" id="flight-departing">
                                                          <span class="icon icon-calendar"></span>
                                                      </label>
                                                      <label id="flight-returning-label" class="text calendar icon-before col ">
                                                          <span class="label">Returning</span>
                                                          <input type="text" data-wizard-type="returning" value="" data-control="calendar" data-start-date="#flight-departing" placeholder="mm/dd/yyyy" data-tid="flight-returning" id="flight-returning">
                                                          <span class="icon icon-calendar"></span>
                                                      </label>
                                                  </fieldset>
                                                  <div class="progressive-display flight-passenger-container ab3292-fix shown">

                                                      <fieldset class="cols-nested">
                                                          <div data-wizard-type="passengers" data-wizard-owner="flight" id="flight-passengers">
                                                              <label data-tid="flight-adults-label" id="flight-adults-label" class="select col icon icon-toggle180">
                                                                  <span class="label">Adults (18+)</span>
                                                                  <select data-select-value="-1" data-wizard-type="#rooms.0.adults" data-wizard-owner="flight" class="number-of-travellers" data-tid="flight-adults" id="flight-adults" name="select">
                                                                      <option selected="selected" value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                                                                  </select>
                                                              </label>
                                                              <label data-tid="flight-children-label" id="flight-children-label" class="select col icon icon-toggle180">
                                                                  <span class="label">Children (0-17)</span>
                                                                  <select data-select-value="0" data-redraw="true" data-wizard-type="#rooms.0.#children.count" data-wizard-owner="flight" data-children-fieldset="flight" class="children-select number-of-travellers" data-tid="flight-children" id="flight-children" name="select"> <option value="0">0</option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                                                                  </select>
                                                              </label>
                                                          </div>
                                                      </fieldset>

                                                  </div>
                                              </div>

                                              <fieldset class="cols"><label class="col search-btn-col"><button data-tid="search-button" id="search-button" class="btn-action btn-primary" type="submit"><span class="btn-label">Search</span></button></label></fieldset>

                                          </div>
                                      </section>






                                   </div>
                                  <div id="hotel-tab">
                                      <div  class="col forms">

                                          <div  class="progressive wz-r1 wz-r1a-1 wz-r1c0">
                                              <section data-tid="wizard-hotels" id="tab-hotel" class="tab-pane on">
                                                  <div class="" id="hotel">
                                                      <div id="hotel" class="total-rooms-1">
                                                          <fieldset class="cols-nested destination-only">
                                                              <label  id="hotel-destination-label" class="text icon-before col">
                                                                  <span class="label">Going to</span>
                                                                  <input type="text" aria-expanded="false" spellcheck="false" autocomplete="off" aria-autocomplete="list"   value=""  id="hotel-destination">
                                                                  <span class="icon icon-location"></span>
                                                              </label>
                                                          </fieldset>
                                                          <fieldset class="cols-nested">
                                                              <label  id="hotel-checkin-label" class="text calendar icon-before col">
                                                                  <span  class="label">Check in</span>
                                                                  <input id="datepickerCheckin"  type="text" class="check-in-out">
                                                                  <span class="icon icon-calendar"></span>
                                                              </label>
                                                              <label id="hotel-checkout-label" class="text calendar icon-before col">
                                                                  <span class="label">Check out</span>
                                                                  <input id="datepickerCheckout" type="text" class="check-in-out">
                                                                  <span class="icon icon-calendar"></span>
                                                              </label>
                                                              <label id="hotel-rooms-label" class="select col icon icon-toggle180">
                                                                  <span class="label">Rooms</span>
                                                                  <select id="hotel-rooms" name="select"> <option selected="selected" value="1">1</option> <option value="2">2</option> <option value="3">3</option>  <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9+</option>
                                                                  </select>
                                                              </label>
                                                          </fieldset>

                                                          <div class="progressive-display shown">
                                                              <div  id="hotel-rooms" class="rooms-container total-rooms-1 total-room-1-children-0">
                                                                  <div  id="hotel-1" class="cols-row hotel-room room-count-1 total-children-0">

                                                                      <fieldset class="cols-nested col occupants-select">
                                                                          <label id="hotel-1-adults-label" class="select col icon icon-toggle180">
                                                                              <span class="label">Adults (18+)</span>
                                                                              <select class="number-of-travellers"  id="hotel-1-adults" name="select"> <option value="1">1</option> <option selected="selected" value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>  <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option> <option value="11">11</option> <option value="12">12</option> <option value="13">13</option> <option value="14">14</option>
                                                                              </select>
                                                                          </label>
                                                                          <label did="hotel-1-children-label" class="select col icon icon-toggle180">
                                                                              <span class="label">Children (0-17)</span>
                                                                              <select  id="hotel-1-children" class="children-select number-of-travellers" name="select"> <option value="0">0</option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                                                                              </select>
                                                                          </label>
                                                                      </fieldset>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>

                                                  </div>
                                              </section>
                                          </div>
                                          <fieldset class="cols">
                                              <label class="col search-btn-col">
                                                  <button id="search-button" class="btn-action btn-primary" type="submit">
                                                      <span class="btn-label">Search</span>
                                                  </button>
                                              </label>
                                           </fieldset>
                                      </div>
                                  </div>
                                  <div id="package-tab">
                                      <section data-tid="wizard-flights" id="tab-flight" class="tab-pane on">
                                          <div class="" id="package-tab">
                                              <div id="package">

                                                      <fieldset class="cols-nested destination-only">
                                                          <label  id="hotel-destination-label" class="text icon-before col">
                                                              <span class="label">Search By Keywords</span>
                                                              <input type="text"   value=""  id="search-keywords" style="width: 500px">
                                                              <span class="icon icon-location"></span>
                                                          </label>
                                                      </fieldset>
                                                  <fieldset class="cols"><label class="col search-btn-col"><button data-tid="search-button" id="package-search-button" class="btn-action btn-primary" type="submit"><span class="btn-label">Search</span></button></label></fieldset>





                                              </div>
                                          </div>
                                      </section>





                                  </div>
                         </div>


                        </div>
                    </div>

                </div>


            </div>




        </section>

    </div>

<script>

    $('#package-search-button').click(function() {
        var keywords=$('#search-keywords').val();
        console.log("Searching for packages with keywords-"+keywords);
        window.location.href="/package-search-results?keywords="+keywords;

    });
</script>

</body>
</html>