<!DOCTYPE html>

<html id="conditionizr" lang="cn"  style="">
<head>

    <%include layout/header.ejs%>
    <%include layout/navBar.ejs%>


    <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
</head>

<body id="home-page" class="wrap cf l-singlecol">
    <div role="banner">
        <div class="site-header site-header-primary us-pos" role="navigation">





        <section id="WIZARD" class="hero-banner-wrap hero-banner background ab4292">
            <div class="hero-banner background" style="min-height: 500px">
                <div class="hero-banner-gradient">
                    <div  id="new-homepage-search-wizard" class="search-wrapper" style="padding-top:50px">

                        <div  id="tabs" class="cols-row search theme-inverse-pills" style="min-height: 300px; ">
                            <ul >
                                <li >
                                    <a class="on" href="#fight-tab">Flights</a>
                                </li>

                                <li>
                                    <a  id="tab-hotel-tab"  href="#hotel-tab" >

                                        <span class="tab-label">Hotels</span>
                                    </a>
                                </li>

                                <li >
                                    <a  href="#package-tab" >

                                        <span class="tab-label">
                                            <span class="desktop-only">Package Deals</span>

                                        </span>
                                    </a>

                                </li>

                            </ul>

                         <div class="col forms">
                                  <div id="fight-tab">
                                      <section data-tid="wizard-flights" id="tab-flight" class="tab-pane on">
                                          <div class="" id="flight-tab">
                                              <div id="flight">
                                                  <fieldset class="flight-type-select">

                                                      <label class="col check">
                                                          <input id="roundtrip" type="radio" value="roundtrip" name="flight-type" checked="checked">
                                                          <span class="inline-label">Roundtrip</span>
                                                      </label>

                                                      <label class="col check">
                                                          <input type="radio"  id="oneway" value="oneway" name="flight-type">
                                                          <span class="inline-label">One way</span>
                                                      </label>

                                                  </fieldset>
                                                  <fieldset role="application" class="cols-nested origin-destination typeahead-container">
                                                      <label data-tid="flight-origin-label" id="flight-origin-label" class="text icon-before col ">
                                                          <span class="label">Flying from</span>
                                                          <input type="text" aria-expanded="false" spellcheck="false" autocomplete="off" aria-autocomplete="list" data-autoselect="touch" data-wizard-type="origin" data-template="/static/default/default/handlebars/typeahead/default.htm.handlebars" data-version="v1" data-mask="95" data-selectioncallback="typeaheadFlightOriginCallback" data-forceicon="flights" data-ta-key="flight_origin" data-lob="FLIGHTS" data-provide="typeahead" data-js-theme="typeahead" value="" placeholder="City or airport" data-tid="flight-origin" id="flight-origin"> <span class="icon icon-location">

                                                          </span>
                                                      </label>
                                                      <label data-tid="flight-destination-label" id="flight-destination-label" class="text icon-before col ">
                                                          <span class="label">Flying to</span>
                                                          <input type="text" aria-expanded="false" spellcheck="false" autocomplete="off" aria-autocomplete="list" data-autoselect="touch" data-wizard-type="destination" data-template="/static/default/default/handlebars/typeahead/default.htm.handlebars" data-version="v1" data-mask="95" data-selectioncallback="typeaheadFlightDestinationCallback" data-forceicon="flights" data-ta-key="flight_dest" data-lob="FLIGHTS" data-provide="typeahead" data-js-theme="typeahead" value="" placeholder="City or airport" data-tid="flight-destination" id="flight-destination">
                                                          <span class="icon icon-location"></span>
                                                      </label>
                                                  </fieldset>
                                                  <fieldset class="cols-nested flight-date-fieldset total-children-0">
                                                      <label data-tid="flight-departing-label" id="flight-departing-label" class="text calendar icon-before col ">
                                                          <span class="label">Departing</span>
                                                          <input type="text"  value="" data-control="calendar"  placeholder="mm/dd/yyyy"  id="datepickerFlightDepart">
                                                          <span class="icon icon-calendar"></span>
                                                      </label>
                                                      <label id="flight-returning-label" class="text calendar icon-before col ">
                                                          <span class="label">Returning</span>
                                                          <input type="text" data-wizard-type="returning" value=""  placeholder="mm/dd/yyyy"  id="datepickerFlightReturn">
                                                          <span class="icon icon-calendar"></span>
                                                      </label>
                                                  </fieldset>
                                                  <div class="progressive-display flight-passenger-container ab3292-fix shown">

                                                      <fieldset class="cols-nested">
                                                          <div data-wizard-type="passengers" data-wizard-owner="flight" id="flight-passengers">
                                                              <label data-tid="flight-adults-label" id="flight-adults-label" class="select col icon icon-toggle180">
                                                                  <span class="label">Adults (18+)</span>
                                                                  <select data-select-value="-1" data-wizard-type="#rooms.0.adults" data-wizard-owner="flight" class="number-of-travellers" data-tid="flight-adults" id="flight-adults" name="select">
                                                                      <option selected="selected" value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                                                                  </select>
                                                              </label>
                                                              <label data-tid="flight-children-label" id="flight-children-label" class="select col icon icon-toggle180">
                                                                  <span class="label">Children (0-17)</span>
                                                                  <select data-select-value="0" data-redraw="true" data-wizard-type="#rooms.0.#children.count" data-wizard-owner="flight" data-children-fieldset="flight" class="children-select number-of-travellers" data-tid="flight-children" id="flight-children" name="select"> <option value="0">0</option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                                                                  </select>
                                                              </label>
                                                          </div>
                                                      </fieldset>

                                                  </div>
                                              </div>

                                              <fieldset class="cols"><label class="col search-btn-col"><button data-tid="search-button" id="search-button" class="btn-action btn-primary" type="submit"><span class="btn-label">Search</span></button></label></fieldset>

                                          </div>
                                      </section>






                                   </div>
                                  <div id="hotel-tab">
                                      <div  class="col forms">

                                          <div  class="progressive wz-r1 wz-r1a-1 wz-r1c0">
                                              <section data-tid="wizard-hotels" id="tab-hotel" class="tab-pane on">
                                                  <div class="" id="hotel">
                                                      <div id="hotel" class="total-rooms-1">
                                                          <fieldset class="cols-nested destination-only">
                                                              <label  id="hotel-destination-label" class="text icon-before col">
                                                                  <span class="label">Going to</span>
                                                                  <input type="text" aria-expanded="false" spellcheck="false" autocomplete="off" aria-autocomplete="list"   value=""  id="hotel-destination">
                                                                  <span class="icon icon-location"></span>
                                                              </label>
                                                          </fieldset>
                                                          <fieldset class="cols-nested">
                                                              <label  id="hotel-checkin-label" class="text calendar icon-before col">
                                                                  <span  class="label">Check in</span>
                                                                  <input id="datepickerCheckin"   placeholder="mm/dd/yyyy" type="text" class="check-in-out">
                                                                  <span class="icon icon-calendar"></span>
                                                              </label>
                                                              <label id="hotel-checkout-label" class="text calendar icon-before col">
                                                                  <span class="label">Check out</span>
                                                                  <input id="datepickerCheckout"  placeholder="mm/dd/yyyy" type="text" class="check-in-out">
                                                                  <span class="icon icon-calendar"></span>
                                                              </label>
                                                              <label id="hotel-rooms-label" class="select col icon icon-toggle180">
                                                                  <span class="label">Rooms</span>
                                                                  <select id="hotel-rooms" name="select"> <option selected="selected" value="1">1</option> <option value="2">2</option> <option value="3">3</option>  <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9+</option>
                                                                  </select>
                                                              </label>
                                                          </fieldset>

                                                          <div class="progressive-display shown">
                                                              <div  id="hotel-rooms" class="rooms-container total-rooms-1 total-room-1-children-0">
                                                                  <div  id="hotel-1" class="cols-row hotel-room room-count-1 total-children-0">

                                                                      <fieldset class="cols-nested col occupants-select">
                                                                          <label id="hotel-1-adults-label" class="select col icon icon-toggle180">
                                                                              <span class="label">Adults (18+)</span>
                                                                              <select class="number-of-travellers"  id="hotel-1-adults" name="select"> <option value="1">1</option> <option selected="selected" value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>  <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option> <option value="11">11</option> <option value="12">12</option> <option value="13">13</option> <option value="14">14</option>
                                                                              </select>
                                                                          </label>
                                                                          <label did="hotel-1-children-label" class="select col icon icon-toggle180">
                                                                              <span class="label">Children (0-17)</span>
                                                                              <select  id="hotel-1-children" class="children-select number-of-travellers" name="select"> <option value="0">0</option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                                                                              </select>
                                                                          </label>
                                                                      </fieldset>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>

                                                  </div>
                                              </section>
                                          </div>
                                          <fieldset class="cols">
                                              <label class="col search-btn-col">
                                                  <button id="search-button" class="btn-action btn-primary" type="submit">
                                                      <span class="btn-label">Search</span>
                                                  </button>
                                              </label>
                                           </fieldset>
                                      </div>
                                  </div>
                                  <div id="package-tab">
                                      <section data-tid="wizard-flights" id="tab-flight" class="tab-pane on">
                                          <div class="" id="package-tab">
                                              <div id="package">

                                                      <fieldset class="cols-nested destination-only">
                                                          <label  id="hotel-destination-label" class="text icon-before col">
                                                              <span class="label">Search By Keywords</span>
                                                              <input type="text"   value=""  id="search-keywords" style="width: 500px">
                                                              <span class="icon icon-location"></span>
                                                          </label>
                                                      </fieldset>
                                                  <fieldset class="cols"><label class="col search-btn-col"><button data-tid="search-button" id="package-search-button" class="btn-action btn-primary" type="submit"><span class="btn-label">Search</span></button></label></fieldset>





                                              </div>
                                          </div>
                                      </section>





                                  </div>
                         </div>


                        </div>
                    </div>

                </div>


            </div>




        </section>

    </div>

     <div>

         <header class="cols-row-header cf section-header no-group" id="local-favourites-module-1-header">
             <h3 class="section-header-main ">Top local destinations booked by Chengdu travelers</h3>
         </header>

        <ul class="bxslider" style = "height:500">
            <li><div class = "slide"><img src="/assets/img/hill_trees.jpg" title="Funky roots sdfsfsdfsdfsdfsdfsd"/>asdfahasdfasdfasdfasdflkjlkjlkskdjf</div>


            </li>
            <li>
                    <div class = "slide"><img src="/assets/img/hill_trees.jpg" title="Funky roots sdfsfsdfsdfsdfsdfsd"/>
                    <a>sdfasdfasdfasdfasdfasfda</a></div>

            </li>

            <li><div class = "slide"><img src="/assets/img/me_trees.jpg" title="Funky roots sdfsdfsd"/>fhgslkdjfhgslidfuhgsiu</div>

            </li>
            <li><div  class = "slide"><img src="/assets/img/hill_trees.jpg" title="Funky rootswerwerwerwerwerwrw" /></div></li>
        </ul>
     </div>




        <script src="/assets/jquery.bxslider.js"></script>
        <link href="/assets/jquery.bxslider.css" rel="stylesheet" />

        <script>
            $(document).ready(function(){
                $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
                $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );

                $("#oneway").click(function(){
                    $("#flight-returning-label").css("visibility","hidden");

                });

                $("#roundtrip").click(function(){
                    $("#flight-returning-label").css("visibility","visible");



                });
                $("#datepickerCheckin").datepicker();

                $( "#datepickerCheckout").datepicker();

                $("#datepickerFlightDepart").datepicker();

                $( "#datepickerFlightReturn").datepicker();

                $('.bxslider').bxSlider(
                        {   minSlides: 3,
                            maxSlides: 3,
                            slideWidth: 360,
                            slideMargin: 100,
                            height: 100,
                            slideSelector:$('.slide')

                        }
                );


            });
        </script>
<script>

    $('#package-search-button').click(function() {
        var keywords=$('#search-keywords').val();
        console.log("Searching for packages with keywords-"+keywords);
        window.location.href="/package-search-results?keywords="+keywords;

    });
</script>

</body>
</html>