<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="/assets/css/core-responsive.css">
    <link rel="stylesheet" href="/assets/css/userlogin-min-2366612448.css">

    <%include ../layout/header.ejs%>
    <%include ../layout/navBar.ejs%>
    <script type="text/javascript" src=/assets/js/jquery.validate.js"></script>
    <script type="text/javascript" src=/utils/messageReporter.js"></script>

</head>
<body>
<div id="content" class="site-content-wrap">
    <div class="site-content cols-row cf" role="main">
        <header id="page-header" class="cols-row-header cf page-header no-group">
            <h1 class="section-header-main ">	Change Password</h1>
        </header>

        <div class="box  col" id="content-box-1" style="display:none">
            <h3> This link is no longer valid. Please go to <a href="/forgotPassword"> forgot password</a> again. </h3>
        </div>
        <div class="box  col" id="content-box-3" style="display:none">
            <h3> You have successfully updated your password. </h3>
        </div>
        <div class="box  col" id="content-box-2" style="display:none">

            <article class="one-col-section cols-nested">
                <div class="col">
                    <div id="changePasswordMessageReporter"></div>
                    <div id="forgot_password_form_div">
                        <p class="message-color"><b>Reset your password</b></p>
                        <form id="find-password-form" name="find-password-form" method="post">
                            <fieldset>
                                <label class="text input-box" id="create-password" data-error="Password must be at least 6 characters">
                                    <span class="label">Password</span>
                                    <span class="input-text">
                                    <input type="password" placeholder="Password" value="" name="change-password" id="change-password"  />
                                    </span>
                                </label>
                                <label class="text input-box" id="confirm-password">
                                    <span class="label">Confirm Password</span>
                                    <span class="input-text">
                                    <input type="password" placeholder="Password Confirmation" value="" name="change-confirm-password" id="change-confirm-password"  />
                                    </span>
                                </label>
                            </fieldset>
                            <input type="hidden" id="hidden-email" name="hidden-email" value="<%= email%>"/>
                            <input type="hidden" id="hidden-randomString" name="hidden-randomString" value="<%= randomString%>" />

                            <fieldset class="remove-margin">
                                <button type="button" class="btn-action btn-primary remove-margin" id="change-password-submit-button"><span class="btn-label"> Reset My Password </span></button>										&nbsp;&nbsp;
                            </fieldset>


                        </form>
                    </div>
                </div>
            </article>

        </div>
    </div>
</div>
<script>
    var reporter = new MessageReporter("changePasswordMessageReporter");


    $('#change-password-submit-button').click(function(){
        reporter.clear();
        var password = $('#change-password').val();
        var passwordConf = $('#change-confirm-password').val();
        if(password.length<8) {
            reporter.errorStatus("A password of minimum length 8 is required");
            reporter.render();
            return;
        } else if (password != passwordConf) {
            reporter.errorStatus("Password doesn't match with password confirmation. Please check.");
            reporter.render();
            return;
        }
        var email = $('#hidden-email').val() ;
        var randomString = $('#hidden-randomString').val()  ;
        console.log("password is - "+password);
        $.post("/services/findPassword/updatePassword",{email:email,randomString:randomString,password:password}, function(data){
            if(data=="done"){
                reporter.successStatus("You have successfully updated your password.");
                reporter.render();
                $('#content-box-3').show();
                $('#content-box-1').hide();
                $('#content-box-2').hide();

            } else {
                reporter.errorStatus("Updating Password failed. Please try again or contact us.");
                reporter.render();
            }

        })
        $('#change-password').val('');
        $('#change-confirm-password').val('');
    });

    $(function(){
        reporter.clear();
        var email = $('#hidden-email').val() ;
        var randomString = $('#hidden-randomString').val()  ;
        $.post("/services/account/validateEmailLink",{email:email,randomString:randomString},function(data){
            if(data=="done") {
                $('#content-box-1').hide();
                $('#content-box-2').show();
            } else {
                $('#content-box-1').show();
                $('#content-box-2').hide();
            }
        })
    });
</script>
</body>
</html>