<!DOCTYPE html>

<html lang="cn">
<head>
    <link rel="stylesheet" href="/assets/css/global-header-bundle-min-1313690595.css">
    <link rel="stylesheet" href="/assets/css/global-header-responsive-bundle-min-733236120.css">
    <link rel="stylesheet" href="/assets/css/core-responsive.css">
    <link rel="stylesheet" href="/assets/css/userlogin-min-2366612448.css">

    <%include ../layout/header.ejs%>
    <%include ../layout/navBar.ejs%>
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

<div align="center" >
    <% if (error) { %>
    <div> <style="text-align:'center';color:'red';font-family:'arial';font-size:'small';font-style:'italic'"/><%= error %> </div>
    <% } %>
    <% if(success) {%>
    <div> <style="text-align:'center';color:'green';font-family:'arial';font-size:'small';font-style:'italic'"/><%= success %></div>
    <% } %>
</div>

<div id="content" class="site-content-wrap">
    <div class="site-content cols-row cf" role="main">
        <header id="page-header" class="cols-row-header cf page-header no-group">


            <h1 class="section-header-main ">		Sign in or select an option</h1>
        </header>
        <div class="box  col" id="content-box">

            <article class="two-col-section cols-nested">

                <div class="col">
                    <a href="/auth/facebook"><button type="button" href="/auth/facebook/" class="btn-sub-action btn-secondary remove-margin recommended-button" id="signin-facebook-button"><span class="btn-label">Sign in with Facebook</span></button></a>
                    <label class="recommended">Recommended</label>
                    <ul class="secondary note nobullet">
                        <li><span class="icon icon-auth" aria-hidden="true"></span><span class="alt">privacy</span>We keep it private</li>
                        <li><span class="icon icon-shield" aria-hidden="true"></span><span class="alt">protection</span>Share only with permission</li>
                        <li><span class="icon icon-timealt" aria-hidden="true"></span><span class="alt">time</span>Quick sign in- no passwords</li>
                    </ul>
                </div>
                <div class=""col>
                    <div id="signUpReporter"></div>
                        <center>
                          <h1>Or, Sign in with your email:</h1>
                          <form action="/login" method="post">
                              </fieldset>

                              <fieldset>
                                  <label class=" text input-box" id="create-email-id">
                                      <span class="label">Email Address</span>
                                      <input type="text" placeholder="" value='' name="username" id="username" />
                                  </label>

                                  <label class="text input-box" id="login-form-password-label2">
                                      <span class="label">Password</span>
                                      <input type="password" placeholder="" value="" name="password" id="password" />
                                  </label>

                              <ul class="nobullet secondary">
                                  <p class="secondary">
                                      <a class="link" href="/">
                                          Forgot your password?
                                      </a>
                                  </p>
                              </ul>
                              <label class="check"><input type="checkbox" name="signin-loggedin" id="signin-loggedin"  /><span class="inline-label">Keep me signed in</span></label>

                              <fieldset class="remove-margin">
                                  <button type="submit" class="btn-action btn-primary" id="submitButton"><span class="btn-label">Sign In</span></button>
                              </fieldset>


                          </form>
                        </center>
                </div>
                </article>

        </div>
    </div>
    </div>

</body>
</html>