<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/assets/css/core-responsive.css">
    <link rel="stylesheet" href="/assets/css/userlogin-min-2366612448.css">

    <%include ../layout/header.ejs%>
    <%include ../layout/navBar.ejs%>
    <script type="text/javascript" src=/assets/js/jquery.validate.js"></script>


</head>
<body>
<div id="content" class="site-content-wrap">
    <div class="site-content cols-row cf" role="main">
        <header id="page-header" class="cols-row-header cf page-header no-group">
        <h1 class="section-header-main ">					Forgot Password</h1>
        </header>

        <div class="box  col" id="content-box">

            <article class="one-col-section cols-nested">
                <div class="col">
                    <div id="forgotPasswordMessageReporter"></div>
                    <div id="forgot_password_form_div">
                        <p class="message-color"><b>Reset your password</b></p>
                        <form id="forgot-password-form" name="forgot-password-form" action="/forgotPassword" method="post">
                            <fieldset>
                                <p class="validation-msg error hidden" id="blank-unregistered-forgot-password">
                                    <span class="icon icon-warn"></span>
                                    Please provide a valid email address.
                                </p>
                                <label class=" text" id="forgot-password-unregistered-email-label">
											<span class="label">
												Email Address
											</span>
											<span class="input-text">
											<input type="text" placeholder="" value='' name='forgot-password-registered-emailId' id='forgot-password-registered-emailId' />
											</span>
                                </label>
                                <ul class="secondary nobullet label">
                                    <li>We will email you instructions for resetting your password.</li>
                                </ul>
                            </fieldset>

                            <fieldset class="remove-margin">
                                <button type="button" class="btn-action btn-primary remove-margin" id="forgot-password-unregistered-submit-button"><span class="btn-label"> Reset My Password </span></button>										&nbsp;&nbsp;
                                <a class="returnLink" href="/login">Return to Sign In</a>
                            </fieldset>


                        </form>
                    </div>
                </div>
            </article>

        </div>
    </div>
    <div style="display:none;">
        <input type="hidden" id="pageId" value="page.Forgot.Password" />
    </div>
</div>
<script type="text/javascript" src=/utils/messageReporter.js"></script>
<script type="text/javascript" src=/utils/validation.js"></script>
<script>

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    var reporter = new MessageReporter("forgotPasswordMessageReporter");

    $('#forgot-password-unregistered-submit-button').click(function(){
        //$('#forgot-password-unregistered-submit-button').disable();
        reporter.clear();
        var email =  $('#forgot-password-registered-emailId').val();

        if(!validateEmail(email)) {

            reporter.errorStatus("Please enter valid email Address");
            reporter.render();
            return;
        }

        $.post("/forgotPassword",{email:email},function(results){
            if(results=="done"){
                reporter.successStatus("An email has been sent to your email address "+email+", please check.");
                reporter.render();
            } else if(results=="none") {
                reporter.errorStatus("Email Address "+email+" does not exist.");
                reporter.render();
            } else {
                reporter.errorStatus("Unknown error. Please try it again or contact us.");
                reporter.render();
            }
        })

        $('#forgot-password-registered-emailId').val('');

    })

    /*
    $(function() {
    $("#forgot-password-form").validate({
        rules: {
            forgot-password-registered-emailId : {
                required : true,
                email : true
            }
        },
        messages: {
            forgot-password-registered-emailId : "Please enter a valid email address"
        },
        submitHandler: function(form) {
            form.submit();
        }
    })
    })*/

</script>
</body>
</html>