<!DOCTYPE html>

<html lang="cn">
<head>
    <%include ../layout/bootstrap.ejs%>
    <link rel="stylesheet" href="/assets/css/global-header-bundle-min-1313690595.css">
    <link rel="stylesheet" href="/assets/css/global-header-responsive-bundle-min-733236120.css">
    <link rel="stylesheet" href="/assets/css/core-responsive.css">
    <link rel="stylesheet" href="/assets/css/userlogin-min-2366612448.css">

    <link rel="stylesheet" href="/assets/css/accountInfo/base-front.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/block-lists.css"/>

    <link rel="stylesheet" href="/assets/css/accountInfo/calendars.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/common.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/form.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/js.base.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/planning.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/reset.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/simple-lists.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/special-pages.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/standard.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/table.css"/>
    <link rel="stylesheet" href="/assets/css/accountInfo/wizard.css"/>



    <style type="text/css">
        .Personal_buy_box2_tab th{ border: 1px solid #d3d3d3;line-height: 30px;text-align: center;}
        .Personal_buy_box2_tab td{ border: 1px solid #d3d3d3;background-color:#ffffff;line-height: 27px;padding: 5px 10px;}
        .Personal_buy_box2_tab td h3{ font-size: 14px;font-weight: bold;height: 30px;line-height: 30px;}
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8" />
    <title>My Orders</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <%include ../layout/header.ejs%>
    <%include ../layout/navBar.ejs%>

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
<!-- Navigation bar-->

<div class="all_main pad_t10">
    <div class="tour_top_por">Current Position：<a href='/'>homepage</a> &gt; <a href='/account/myaccount'>membership center</a> &gt; <span>update password</span></div>
    <div class="Personal">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
                <td width="180" style="vertical-align:top"><div class="Personal_l_meun Personal_bd1">
                        <ul class="Personal_l_meun_list">
                            <h3 class="Personal_l_meun_h3">My Account</h3>
                            <li><a class="Personal_l_meun_icon1" href="/account/myaccount">Information</a></li>
                            <li><a class="Personal_l_meun_icon2_2 selected" href="/account/myaccount/updatePassword">Password</a></li>

                        </ul>
                        <ul class="Personal_l_meun_list">
                            <h3 class="Personal_l_meun_h3">My Orders</h3>
                            <li><a  href="/account/myorders">Upcoming</a></li>
                            <li><a  href="/account/myorders">History</a></li>
                        </ul>
                    </div></td>


                <script type="text/javascript">
                    $(function () {
                        // var c = "Personal_l_meun_icon2";
                        //$("."+c).addClass(c + "_2");
                        $(".menuselected").html($(".selected").html());
                    });
                </script>
                <td style="width:15px;">&nbsp;</td>
                <td style="width:900px;">
                    <div id="updatePasswordReporter"></div>
                    <div class="Personal_r_con Personal_bd1" id="changeAccountPassword">
                        <div class="Personal_r_con_mian3">
                            <% if(provider!=undefined && provider=="facebook") {%>
                                <h3><b>You are logging in using Facebook account.</b></h3>
                            <% } else {%>
                            <div id="updateAdminPassword" class="well form-inline">
                                <h3><b>Update Your Password</b></h3>
                                <form  class="well form-inline" >
                                    <div class="row-fluid order" >
                                        Original Password: <input type="password" id="oldPassword" name="oldPassword" ><br>
                                        New Password: &nbsp;&nbsp;&nbsp;&nbsp; <input type="password" id="updatePassword" name="updatePassword"><br>
                                        Confirm Password: <input type="password" id="updatePasswordConfirm" name="updatePasswordConfirm"><br>
                                    </div>
                                </form>
                                <div class="row-fluid" > <button id="updatePasswordButton" >Change Password</button></div>
                            </div>
                            <% } %>
                        </div>
                    </div></td>
            </tr>
            </tbody></table>
    </div>
</div>


<script>
    var reporter = new MessageReporter("updatePasswordReporter");

   $('#updatePasswordButton').click(function(){
       reporter.clear();
       var passwordInfo={};
       passwordInfo.oldPassword = $('#oldPassword').val();
       passwordInfo.password = $('#updatePassword').val();
       passwordInfo.passwordConfirm = $('#updatePasswordConfirm').val();

       //validate password=passwordConf
       if(passwordInfo.password.length<8 || passwordInfo.password!=passwordInfo.passwordConfirm) {
            console.log("password doesnt match with password confirm");
            reporter.errorStatus("Password doesnt match with password confirm.");
            reporter.render();
            return;
       }

       $.post("/account/updatePassword",{updateData: passwordInfo}, function(data){
            if(data=="done") {
                $('#oldPassword').val("");
                $('#updatePassword').val("");
                $('#updatePasswordConfirm').val("");
                reporter.successStatus("You have successfully updated your password.");
                reporter.render();
            } else {
                reporter.errorStatus("Unknown error when updating your password.");
                reporter.render();
            }
       })

   })
</script>
</body>
</html>
