#TN-footer,#TN-faq,#TN-app{width:1000px;margin-left:auto;margin-right:auto;clear:both}#TN-footer{width:1000px;margin:10px
auto 20px auto;color:#777;line-height:1.9}#TN-footer a:link,#TN-footer a:visited,#TN-footer a:hover,#TN-faq a:link,#TN-faq a:visited,#TN-faq a:hover{color:#777;text-decoration:none}#TN-footer
p{line-height:1.9;text-align:center}#TN-footer
img{display:inline}.TN-clear{clear:both;height:0;line-height:0;overflow:hidden}#TN-24,#TN-links{line-height:1.9}#TN-links
a{margin:0
5px}#TN-faq{width:998px;margin-top:20px;padding:5px
0;border:1px
#eaeaea solid;font-size:12px;overflow:hidden}#TN-faq
dl{width:168px;padding-left:30px;line-height:24px;float:left;border-left:1px #e4e4e4 solid}#TN-faq .faq-first{border:none}#TN-faq
dt{font-weight:bold;height:24px;line-height:20px}#TN-faq
dd{color:#666}.trav_corp{text-align:center}.trav_corp
img{height:47px}